pbj/src/main/resources/wsdl/WSAPIService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.WSAPI.AMS360.com/v3.0" elementFormDefault="qualified" targetNamespace="http://www.WSAPI.AMS360.com/v3.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="WSAPIService5.xsd" namespace="http://www.WSAPI.AMS360.com/v3.0/DataContract" />
  <xs:import schemaLocation="WSAPIService4.xsd" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="FileChunkBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q1:FileChunkBeginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="WSAPISession">
    <xs:sequence>
      <xs:element name="Ticket" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WSAPISession" nillable="true" type="tns:WSAPISession" />
  <xs:element name="FileChunkBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="FileChunkBeginResult" nillable="true" type="q2:FileChunkBeginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileChunkSend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q3:FileChunkSendRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileChunkSendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="FileChunkSendResult" nillable="true" type="q4:FileChunkSendResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileChunkEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q5:FileChunkEndRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileChunkEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="FileChunkEndResult" nillable="true" type="q6:FileChunkEndResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AMS360AgencyUrlGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AMS360AgencyUrlGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="AMS360AgencyUrlGetResult" nillable="true" type="q7:AMS360UrlResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q8:LoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValueListGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q9:ValueListGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValueListGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="ValueListGetResult" nillable="true" type="q10:ValueListGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q11:EmployeeInsertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="EmployeeInsertResult" nillable="true" type="q12:EmployeeInsertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q13:EmployeeUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGetByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q14:EmployeeGetByCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGetByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="EmployeeGetByCodeResult" nillable="true" type="q15:EmployeeGetByCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGetByShortName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q16:EmployeeGetByShortNameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGetByShortNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="EmployeeGetByShortNameResult" nillable="true" type="q17:EmployeeGetByShortNameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGetListByLastNamePrefix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q18:EmployeeGetListByLastNamePrefixRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGetListByLastNamePrefixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="EmployeeGetListByLastNamePrefixResult" nillable="true" type="q19:EmployeeGetListByLastNamePrefixResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGetListByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q20:EmployeeGetListByTypeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGetListByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="EmployeeGetListByTypeResult" nillable="true" type="q21:EmployeeGetListByTypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGetListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGetListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="EmployeeGetListAllResult" nillable="true" type="q22:EmployeeGetListAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDivisionGetByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q23:GLDivisionGetByCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDivisionGetByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLDivisionGetByCodeResult" nillable="true" type="q24:GLDivisionGetByCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDivisionGetByShortName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q25:GLDivisionGetByShortNameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDivisionGetByShortNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLDivisionGetByShortNameResult" nillable="true" type="q26:GLDivisionGetByShortNameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDivisionGetListByNamePrefix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q27:GLDivisionGetListByNamePrefixRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDivisionGetListByNamePrefixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLDivisionGetListByNamePrefixResult" nillable="true" type="q28:GLDivisionGetListByNamePrefixResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDivisionGetListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDivisionGetListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLDivisionGetListAllResult" nillable="true" type="q29:GLDivisionGetListAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLBranchGetByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q30:GLBranchGetByCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLBranchGetByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLBranchGetByCodeResult" nillable="true" type="q31:GLBranchGetByCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLBranchGetByShortName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q32:GLBranchGetByShortNameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLBranchGetByShortNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLBranchGetByShortNameResult" nillable="true" type="q33:GLBranchGetByShortNameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLBranchGetListByNamePrefix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q34:GLBranchGetListByNamePrefixRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLBranchGetListByNamePrefixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLBranchGetListByNamePrefixResult" nillable="true" type="q35:GLBranchGetListByNamePrefixResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLBranchGetListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GLBranchGetListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLBranchGetListAllResult" nillable="true" type="q36:GLBranchGetListAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLBranchGetListByGLDivisionCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q37:GLBranchGetListByGLDivisionCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLBranchGetListByGLDivisionCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLBranchGetListByGLDivisionCodeResult" nillable="true" type="q38:GLBranchGetListByGLDivisionCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDepartmentGetByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q39:GLDepartmentGetByCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDepartmentGetByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLDepartmentGetByCodeResult" nillable="true" type="q40:GLDepartmentGetByCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDepartmentGetByShortName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q41:GLDepartmentGetByShortNameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDepartmentGetByShortNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLDepartmentGetByShortNameResult" nillable="true" type="q42:GLDepartmentGetByShortNameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDepartmentGetListByNamePrefix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q43:GLDepartmentGetListByNamePrefixRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDepartmentGetListByNamePrefixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLDepartmentGetListByNamePrefixResult" nillable="true" type="q44:GLDepartmentGetListByNamePrefixResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDepartmentGetListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDepartmentGetListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLDepartmentGetListAllResult" nillable="true" type="q45:GLDepartmentGetListAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDepartmentGetListByGLBranchCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q46:GLDepartmentGetListByGLBranchCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLDepartmentGetListByGLBranchCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLDepartmentGetListByGLBranchCodeResult" nillable="true" type="q47:GLDepartmentGetListByGLBranchCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLGroupGetByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q48:GLGroupGetByCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLGroupGetByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLGroupGetByCodeResult" nillable="true" type="q49:GLGroupGetByCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLGroupGetByShortName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q50:GLGroupGetByShortNameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLGroupGetByShortNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLGroupGetByShortNameResult" nillable="true" type="q51:GLGroupGetByShortNameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLGroupGetListByNamePrefix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q52:GLGroupGetListByNamePrefixRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLGroupGetListByNamePrefixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLGroupGetListByNamePrefixResult" nillable="true" type="q53:GLGroupGetListByNamePrefixResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLGroupGetListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GLGroupGetListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLGroupGetListAllResult" nillable="true" type="q54:GLGroupGetListAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLGroupGetListByGLDepartmentCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q55:GLGroupGetListByGLDepartmentCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLGroupGetListByGLDepartmentCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="GLGroupGetListByGLDepartmentCodeResult" nillable="true" type="q56:GLGroupGetListByGLDepartmentCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerGetListByLastNamePrefix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q57:BrokerGetListByLastNamePrefixRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerGetListByLastNamePrefixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="BrokerGetListByLastNamePrefixResult" nillable="true" type="q58:BrokerGetListByLastNamePrefixResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerGetByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q59:BrokerGetByCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerGetByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="BrokerGetByCodeResult" nillable="true" type="q60:BrokerGetByCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerGetByShortName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q61:BrokerGetByShortNameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerGetByShortNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="BrokerGetByShortNameResult" nillable="true" type="q62:BrokerGetByShortNameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerGetListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerGetListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="BrokerGetListAllResult" nillable="true" type="q63:BrokerGetListAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyGetByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q64:CompanyGetByCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyGetByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CompanyGetByCodeResult" nillable="true" type="q65:CompanyGetByCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyGetByShortName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q66:CompanyGetByShortNameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyGetByShortNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CompanyGetByShortNameResult" nillable="true" type="q67:CompanyGetByShortNameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyGetListByNamePrefix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q68:CompanyGetListByNamePrefixRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyGetListByNamePrefixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CompanyGetListByNamePrefixResult" nillable="true" type="q69:CompanyGetListByNamePrefixResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyGetListByParentCompanyCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q70:CompanyGetListByParentCompanyCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyGetListByParentCompanyCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CompanyGetListByParentCompanyCodeResult" nillable="true" type="q71:CompanyGetListByParentCompanyCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyGetListByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q72:CompanyGetListByTypeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyGetListByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CompanyGetListByTypeResult" nillable="true" type="q73:CompanyGetListByTypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyGetListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyGetListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CompanyGetListAllResult" nillable="true" type="q74:CompanyGetListAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerGetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q75:CustomerGetByIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerGetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CustomerGetByIdResult" nillable="true" type="q76:CustomerGetByIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerGetByNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q77:CustomerGetByNumberRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerGetByNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CustomerGetByNumberResult" nillable="true" type="q78:CustomerGetByNumberResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q79:CustomerUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q80:CustomerInsertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CustomerInsertResult" nillable="true" type="q81:CustomerInsertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerGetListByNamePrefix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q82:CustomerGetListByNamePrefixRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerGetListByNamePrefixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CustomerGetListByNamePrefixResult" nillable="true" type="q83:CustomerGetListByNamePrefixResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerContactGetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q84:CustomerContactGetListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerContactGetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CustomerContactGetListResult" nillable="true" type="q85:CustomerContactGetListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerContactGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q86:CustomerContactGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerContactGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CustomerContactGetResult" nillable="true" type="q87:CustomerContactGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerContactDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q88:CustomerContactDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerContactDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerContactUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q89:CustomerContactUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerContactUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerContactInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q90:CustomerContactInsertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerContactInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CustomerContactInsertResult" nillable="true" type="q91:CustomerContactInsertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerProfileAnswerGetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q92:CustomerProfileAnswerGetListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerProfileAnswerGetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CustomerProfileAnswerGetListResult" nillable="true" type="q93:CustomerProfileAnswerGetListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerProfileAnswerGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q94:CustomerProfileAnswerGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerProfileAnswerGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CustomerProfileAnswerGetResult" nillable="true" type="q95:CustomerProfileAnswerGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerProfileAnswerUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q96:CustomerProfileAnswerUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerProfileAnswerUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerProfileAnswerDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q97:CustomerProfileAnswerDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerProfileAnswerDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerServicePersonnelGetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q98:CustomerServicePersonnelGetListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerServicePersonnelGetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CustomerServicePersonnelGetListResult" nillable="true" type="q99:CustomerServicePersonnelGetListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerServicePersonnelModifyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q100:CustomerServicePersonnelModifyListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerServicePersonnelModifyListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanTypeGetByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q101:PlanTypeGetByCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanTypeGetByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PlanTypeGetByCodeResult" nillable="true" type="q102:PlanTypeGetByCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanTypeGetListByCompanyCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q103:PlanTypeGetListByCompanyCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanTypeGetListByCompanyCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PlanTypeGetListByCompanyCodeResult" nillable="true" type="q104:PlanTypeGetListByCompanyCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanTypeGetListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanTypeGetListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PlanTypeGetListAllResult" nillable="true" type="q105:PlanTypeGetListAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="S1099GetListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="S1099GetListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="S1099GetListAllResult" nillable="true" type="q106:S1099GetListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyServicePersonnelGetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q107:PolicyServicePersonnelGetListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyServicePersonnelGetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyServicePersonnelGetListResult" nillable="true" type="q108:PolicyServicePersonnelListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyServicePersonnelModifyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q109:PolicyServicePersonnelModifyListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyServicePersonnelModifyListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q110:PolicyGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyGetResult" nillable="true" type="q111:PolicyGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyGetListByCustomerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q112:PolicyGetListByCustomerIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyGetListByCustomerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyGetListByCustomerIdResult" nillable="true" type="q113:PolicyGetListByCustomerIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyGetListByCustomerNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q114:PolicyGetListByCustomerNumberRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyGetListByCustomerNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyGetListByCustomerNumberResult" nillable="true" type="q115:PolicyGetListByCustomerNumberResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyGetListByPolicyNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q116:PolicyGetListByPolicyNumberRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyGetListByPolicyNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyGetListByPolicyNumberResult" nillable="true" type="q117:PolicyGetListByPolicyNumberResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyGetListByPolicyNumberAndDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q118:PolicyGetListByPolicyNumberAndDateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyGetListByPolicyNumberAndDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyGetListByPolicyNumberAndDateResult" nillable="true" type="q119:PolicyGetListByPolicyNumberAndDateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyCorrect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q120:PolicyCorrectRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyCorrectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q121:PolicyDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q122:PolicyInsertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyInsertResult" nillable="true" type="q123:PolicyInsertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyRenew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q124:PolicyRenewRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyRenewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyRenewResult" nillable="true" type="q125:PolicyRenewResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyTransactionPremiumGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q126:PolicyTransactionPremiumGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyTransactionPremiumGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyTransactionPremiumGetResult" nillable="true" type="q127:PolicyTransactionPremiumGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyTransactionPremiumUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q128:PolicyTransactionPremiumUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyTransactionPremiumUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyTransactionPremiumDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q129:PolicyTransactionPremiumDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyTransactionPremiumDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyTransactionPremiumInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q130:PolicyTransactionPremiumInsertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyTransactionPremiumInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyTransactionPremiumInsertResult" nillable="true" type="q131:PolicyTransactionPremiumInsertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyTransactionPremiumGetListForPolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q132:PolicyTransactionPremiumGetListForPolicyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyTransactionPremiumGetListForPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyTransactionPremiumGetListForPolicyResult" nillable="true" type="q133:PolicyTransactionPremiumGetListForPolicyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyGetRemark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q134:PolicyGetRemarkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyGetRemarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyGetRemarkResult" nillable="true" type="q135:PolicyGetRemarkResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyInsertRemark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q136:PolicyInsertRemarkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyInsertRemarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyInsertRemarkResult" nillable="true" type="q137:PolicyInsertRemarkResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyDeleteRemark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q138:PolicyDeleteRemarkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyDeleteRemarkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyUpdateRemark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q139:PolicyUpdateRemarkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyUpdateRemarkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyContactGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q140:PolicyContactGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyContactGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyContactGetResult" nillable="true" type="q141:PolicyContactGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyContactGetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q142:PolicyContactGetListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyContactGetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyContactGetListResult" nillable="true" type="q143:PolicyContactGetListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyContactInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q144:PolicyContactInsertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyContactInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PolicyContactInsertResult" nillable="true" type="q145:PolicyContactInsertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyContactUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q146:PolicyContactUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyContactUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyContactDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q147:PolicyContactDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyContactDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorGetByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q148:VendorGetByCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorGetByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="VendorGetByCodeResult" nillable="true" type="q149:VendorGetByCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorGetListByIsCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q150:VendorGetListByIsCompanyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorGetListByIsCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="VendorGetListByIsCompanyResult" nillable="true" type="q151:VendorGetListByIsCompanyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorGetListByLastNamePrefix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q152:VendorGetListByLastNamePrefixRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorGetListByLastNamePrefixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="VendorGetListByLastNamePrefixResult" nillable="true" type="q153:VendorGetListByLastNamePrefixResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorGetListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorGetListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="VendorGetListAllResult" nillable="true" type="q154:VendorGetListAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorInvoiceGetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q155:VendorInvoiceGetByIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorInvoiceGetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="VendorInvoiceGetByIdResult" nillable="true" type="q156:VendorInvoiceGetByIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorInvoiceGetListByVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q157:VendorInvoiceGetListByVendorRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorInvoiceGetListByVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="VendorInvoiceGetListByVendorResult" nillable="true" type="q158:VendorInvoiceGetListByVendorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankGetByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q159:BankGetByCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankGetByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="BankGetByCodeResult" nillable="true" type="q160:BankGetByCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankGetListByAccountType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q161:BankGetListByAccountTypeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankGetListByAccountTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="BankGetListByAccountTypeResult" nillable="true" type="q162:BankGetListByAccountTypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankGetListByBankNamePrefix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q163:BankGetListByBankNamePrefixRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankGetListByBankNamePrefixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="BankGetListByBankNamePrefixResult" nillable="true" type="q164:BankGetListByBankNamePrefixResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankGetListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BankGetListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="BankGetListAllResult" nillable="true" type="q165:BankGetListAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimGetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q166:ClaimGetByIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimGetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="ClaimGetByIdResult" nillable="true" type="q167:ClaimGetByIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimGetListByCustomerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q168:ClaimGetListByCustomerIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimGetListByCustomerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="ClaimGetListByCustomerIdResult" nillable="true" type="q169:ClaimGetListByCustomerIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimGetListByPolicyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q170:ClaimGetListByPolicyIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimGetListByPolicyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="ClaimGetListByPolicyIdResult" nillable="true" type="q171:ClaimGetListByPolicyIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgencyInfoGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgencyInfoGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="AgencyInfoGetResult" nillable="true" type="q172:AgencyInfoGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalNoteGetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q173:PersonalNoteGetListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalNoteGetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PersonalNoteGetListResult" nillable="true" type="q174:PersonalNoteGetListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalNoteGetListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalNoteGetListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PersonalNoteGetListAllResult" nillable="true" type="q175:PersonalNoteGetListAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalNoteInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q176:PersonalNoteInsertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalNoteInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="PersonalNoteInsertResult" nillable="true" type="q177:PersonalNoteInsertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalNoteGetNoteTextById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q178:NoteTextGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalNoteGetNoteTextByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.microsoft.com/Message" name="PersonalNoteGetNoteTextByIdResult" type="q179:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalNoteUpdateNoteText">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q180:NoteTextUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalNoteUpdateNoteTextResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerNoteInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q181:CustomerNoteInsertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerNoteInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CustomerNoteInsertResult" nillable="true" type="q182:CustomerNoteInsertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerNoteUpdateNoteText">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q183:NoteTextUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerNoteUpdateNoteTextResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerNoteGetNoteTextById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q184:NoteTextGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerNoteGetNoteTextByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.microsoft.com/Message" name="CustomerNoteGetNoteTextByIdResult" type="q185:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonNoteInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q186:CommonNoteInsertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonNoteInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CommonNoteInsertResult" nillable="true" type="q187:CommonNoteInsertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonNoteUpdateNoteText">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q188:NoteTextUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonNoteUpdateNoteTextResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonNoteGetNoteTextById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q189:NoteTextGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonNoteGetNoteTextByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.microsoft.com/Message" name="CommonNoteGetNoteTextByIdResult" type="q190:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineOfBusinessGetByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q191:LineOfBusinessGetByCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineOfBusinessGetByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q192="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="LineOfBusinessGetByCodeResult" nillable="true" type="q192:LineOfBusinessGetByCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineOfBusinessGetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q193:LineOfBusinessGetListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineOfBusinessGetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="LineOfBusinessGetListResult" nillable="true" type="q194:LineOfBusinessGetListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineOfBusinessGetAllList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LineOfBusinessGetAllListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="LineOfBusinessGetAllListResult" nillable="true" type="q195:LineOfBusinessGetListAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSuspenseInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q196:CustomerSuspenseInsertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSuspenseInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CustomerSuspenseInsertResult" nillable="true" type="q197:CustomerSuspenseInsertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSuspenseUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q198="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q198:CustomerSuspenseUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSuspenseUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSuspenseDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q199="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q199:CustomerSuspenseDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSuspenseDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSuspenseGetBySuspenseId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q200="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q200:CustomerSuspenseGetBySuspenseIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSuspenseGetBySuspenseIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CustomerSuspenseGetBySuspenseIdResult" nillable="true" type="q201:CustomerSuspenseGetBySuspenseIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSuspenseGetListByCustomerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q202="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q202:CustomerSuspenseGetListByCustomerIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSuspenseGetListByCustomerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q203="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CustomerSuspenseGetListByCustomerIdResult" nillable="true" type="q203:CustomerSuspenseGetListByCustomerIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonSuspenseInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q204:CommonSuspenseInsertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonSuspenseInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q205="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CommonSuspenseInsertResult" nillable="true" type="q205:CommonSuspenseInsertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonSuspenseUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q206="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q206:CommonSuspenseUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonSuspenseUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonSuspenseDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q207="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q207:CommonSuspenseDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonSuspenseDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonSuspenseGetBySuspenseId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q208="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q208:CommonSuspenseGetBySuspenseIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonSuspenseGetBySuspenseIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q209="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CommonSuspenseGetBySuspenseIdResult" nillable="true" type="q209:CommonSuspenseGetBySuspenseIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonSuspenseGetListByEntityId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q210="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q210:CommonSuspenseGetListByEntityIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonSuspenseGetListByEntityIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q211="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CommonSuspenseGetListByEntityIdResult" nillable="true" type="q211:CommonSuspenseGetListByEntityIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerActivityInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q212="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q212:CustomerActivityInsertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerActivityInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q213="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CustomerActivityInsertResult" nillable="true" type="q213:CustomerActivityInsertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonActivityInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q214="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="request" nillable="true" type="q214:CommonActivityInsertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonActivityInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q215="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="CommonActivityInsertResult" nillable="true" type="q215:CommonActivityInsertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByPhoneNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q216="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="Request" nillable="true" type="q216:SearchByPhoneNumberRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByPhoneNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q217="http://www.WSAPI.AMS360.com/v3.0/DataContract" minOccurs="0" name="SearchByPhoneNumberResult" nillable="true" type="q217:SearchByPhoneNumberResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>